.video-load {
  background-color : #f2f2f2;
  height           : 315px;
  width            : 100%;
  z-index          : 999;
  position         : fixed;
}

#youtube {
  height           : calc(100% + 30px);
  background-color : #2f2f2f;
  color            : #fff;
  margin-top       : 30px;
  padding          : 35px;

  .card {
    display       : block;
    width         : 100%;
    margin-bottom : 25px;
    box-shadow    : 0 2px 18px 0 rgba(0, 0, 0, 0.4);
    border        : 0;
    min-height    : 200px;
    position      : relative;
    overflow      : hidden;
    &:hover {
      box-shadow : 0 0 25px 0 rgba(0, 0, 0, 0.15);
      border     : 0;
    }
    &:hover .img-container img {
      transform : scale(1.3);
    }
    .card-block {
      display : inline-flex;
      padding : 0;
    }
    .card-header {
      display             : none;
      height              : 40px;
      background-size     : 70px 40px;
      background-position : 10px 0px;
      background-repeat   : no-repeat;
    }
    .card-header a {
      display : none;
    }
  }

  .img-container {
    width    : 100%;
    position : absolute;
    height   : 100%;
    z-index  : 0;
    margin   : -18% 0%;
    cursor   : pointer;
    img {
      width       : 100%;
      transition  : transform .8s ease-in-out;
      transform   : scale(1);
      will-change : transform;
    }
  }
  .video-title {
    padding   : 8px;
    font-size : 14px;
  }

  .video-desc {
    font-size  : 12px;
    padding    : 5px 10px 5px 10px;
    position   : absolute;
    z-index    : 1;
    color      : #969696;
    background : #3a0808;
    width      : 100%;
    bottom     : 0;
    p {
      margin-bottom : 0;
      &:first-child {
        margin-bottom : 5px;
      }
    }
    p > span {
      padding : 0;
    }
    strong {
      font-size : 14px;
      color     : #2381C9;
      cursor    : pointer;
    }
  }
}
