extends ../index

block player
  div(id='youtube-player')
    div(class='video-container')

    div(class='controls')
      a(class='btn btn-primary', href='/youtube') < Back to Trends
  script(src='/javascripts/youtube.player.js')
